<form [formGroup]="fg">
<label>numap</label>
<input type="text" formControlName="numap">
<label>FloorNub</label>
<input type="text" formControlName="FloorNub">
<label>surface</label>
<input type="text" formControlName="">
<label>terrace</label>
<div formControlName="">
<input type="radio" value="yes">
<input type="radio" value="no">
</div>
<label>surfaceterrace</label>
<input type="text" formControlName="">
<label>cat</label>
<div formControlName=""> 
<input type="radio" value="S+1">
<input type="radio" value="S+2">
<input type="radio" value="S+3">
</div>
<label>desc</label>
<input type="text" formControlName="">
<label>residence</label>
<input type="text" formControlName="">
<input type="submit" value="save">
</form>
